/* 第一个页面动画 */
@import 'onePage.css';
/* 第二个页面 */
@import 'twoPage.css';
/* 第三个页面 */
@import 'threePage.css';


.swiper-slide {
    position: relative;
    overflow: hidden;
}

.swiper-slide::after {
    content: '';
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -10px;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transform: rotate(45deg);

}

.swiper-slide.jiantou-animate::after{
    display: none;
    transition: display 0.5s;
}

